@import url(//fonts.googleapis.com/css?family=Cormorant+Garamond);

.main
{
            font-family: 'Cormorant Garamond', serif;
            background-color: lime;
            font-stretch: expanded;
}